@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #353a40;
    font-family: 'Itim', cursive;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.content .header img{
    width: 90%;
    position: relative;
    margin: 0 auto;
    object-fit: contain;
}
.content .header .text{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    color: white;
    margin: 0 auto;
}
.content .header .text h3{
    justify-self: end;
    align-self: flex-end;
}
.content .header .text h3:nth-child(1){
    font-size: 4vw;
}
.content .header .text h3:nth-child(2){
    font-size: 3.5vw;
}
.content .header .text h3:nth-child(3){
    font-size: 3vw;
}
.content .header .text p{
    font-size: 3vw;
    align-self: flex-end;
    border-right: .5vw solid pink;
    padding-right: 1vw;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5vw auto;
}
.card-container .card{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center ;
    margin: 0 0 2.5vw ;
    transition: .5s;
    height: 100%;
}
.card-container .card img{
    width: 60%;
    transition-duration: inherit;
    border-radius: 25px;
}
.card-container .card .details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 40%;
    transition: 1s;
    margin-top: 1vw;
}
.card-container .card .details tbody{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-between;
}
.card-container .card .details tr th{
    font-size: 2vw;
    text-align: end;
    width: fit-content;
    width: 12.5vw;
}
.card-container .card .details tr th:nth-child(2){
    padding: 0 .25vw;
}
.card-container .card .details tr td{
    font-size: 2vw;
    width: 20vw;
}
.card-container .card:hover,.card:focus{
    width: 100%;
    height: 100%;
}
.card-container .card:hover img,.card:focus img{
    width: 55%;
}
.card-container .card:hover .details,.card:focus .details{
    opacity: 1;
    color: whitesmoke ;
}


@media only screen and (max-width: 780px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content .header{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .content .header img{
        width: 90%;
        position: relative;
        margin: 0 auto;
        object-fit: contain;
    }
    .content .header .text{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        color: white;
        margin: 0 auto;
    }
    .content .header .text h3{
        justify-self: end;
        align-self: flex-end;
    }
    .content .header .text h3:nth-child(1){
        font-size: 4vw;
    }
    .content .header .text h3:nth-child(2){
        font-size: 3.5vw;
    }
    .content .header .text h3:nth-child(3){
        font-size: 3vw;
    }
    .content .header .text p{
        font-size: 3vw;
        align-self: flex-end;
        border-right: .5vw solid pink;
        padding-right: 1vw;
    }
    
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5vw;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
        margin: 5vw auto;
    }
    .card-container .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: center ;
        margin: 0 0 2.5vw ;
        transition: .5s;
        height: 100%;
    }
    .card-container .card img{
        width: 60%;
        transition-duration: inherit;
        border-radius: 25px;
    }
    .card-container .card .details{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        width: 100%;
        height: 40%;
        transition: 1s;
        margin-top: 1vw;
    }
    .card-container .card .details tbody{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-container .card .details tr th{
        font-size: 4vw;
        text-align: end;
        width: fit-content;
        width: 25vw;
    }
    .card-container .card .details tr th:nth-child(2){
        padding: 0 .25vw;
    }
    .card-container .card .details tr td{
        font-size: 4vw;
        width: 40vw;
    }
    .card-container .card:hover,.card:focus{
        width: 100%;
        height: 100%;
    }
    .card-container .card:hover img,.card:focus img{
        width: 55%;
    }
    .card-container .card:hover .details,.card:focus .details{
        opacity: 1;
        color: whitesmoke ;
    }
}

@media only screen and (max-width:628px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content .header{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .content .header img{
        width: 90%;
        position: relative;
        margin: 0 auto;
        object-fit: contain;
    }
    .content .header .text{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        color: white;
        margin: 0 auto;
    }
    .content .header .text h3{
        justify-self: end;
        align-self: flex-end;
    }
    .content .header .text h3:nth-child(1){
        font-size: 8vw;
    }
    .content .header .text h3:nth-child(2){
        font-size: 7vw;
    }
    .content .header .text h3:nth-child(3){
        font-size: 6vw;
    }
    .content .header .text p{
        font-size: 6vw;
        align-self: flex-end;
        border-right: .5vw solid pink;
        padding-right: 1vw;
    }
    
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5vw;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
        margin: 10wvw auto;
    }
    .card-container .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: center ;
        margin: 0 0 2.5vw ;
        transition: .5s;
        height: 100%;
    }
    .card-container .card img{
        width: 60%;
        transition-duration: inherit;
        border-radius: 25px;
    }
    .card-container .card .details{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        width: 100%;
        height: 40%;
        transition: 1s;
        margin-top: 1vw;
    }
    .card-container .card .details tbody{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-container .card .details tr th{
        font-size: 4vw;
        text-align: end;
        width: fit-content;
        width: 25vw;
    }
    .card-container .card .details tr th:nth-child(2){
        padding: 0 .25vw;
    }
    .card-container .card .details tr td{
        font-size: 4vw;
        width: 40vw;
    }
    .card-container .card:hover,.card:focus{
        width: 100%;
        height: 100%;
    }
    .card-container .card:hover img,.card:focus img{
        width: 55%;
    }
    .card-container .card:hover .details,.card:focus .details{
        opacity: 1;
        color: whitesmoke ;
    }
}