@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #353a40;
    font-family: 'Kanit', sans-serif;   
}

.content{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content .header{  
    font-size: 4vw;
    text-align: end;
    color: whitesmoke;
    width: fit-content;
    margin-bottom: 5vw;
    position: relative;
    justify-self: end;
    align-self: flex-end;
}
.content .header::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    background-color: whitesmoke;
    bottom: 0;
    right: 0;
}
.content .header.line::after{
    animation: line .5s ease-in-out forwards;
}
@keyframes line{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.content .container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 2rem;
    justify-content: space-evenly;
}
.content .container a{
    text-decoration: none;
}
.content .container .card{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid whitesmoke;
    padding: 2vw;
    border-radius: 25px;
    color: whitesmoke;
    transition: .5s;
}
.content .container .card .head{
    font-size: 4vw;
    color: inherit;
    height: fit-content;
}
.content .container .card img{
    width: 90%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
.content .container .card .details{
    width: 100%;
    font-size: 1.5vw;
    color: inherit;
    text-align: center;
    height: fit-content;
}
.content .container .card:hover{
    color: black;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px whitesmoke;
}

@media only screen and (max-width: 628px){
    .content{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .content .header{  
        font-size: 8vw;
        text-align: end;
        color: whitesmoke;
        width: fit-content;
        margin-bottom: 5vw;
        position: relative;
        justify-self: end;
        align-self: flex-end;
    }
    .content .header::after{
        content: "";
        position: absolute;
        height: 5px;
        width: 0;
        background-color: whitesmoke;
        bottom: 0;
        right: 0;
    }
    .content .header.line::after{
        animation: line .5s ease-in-out forwards;
    }
    @keyframes line{
        from{
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    .content .container{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 2rem;
        justify-content: space-evenly;
    }
    .content .container a{
        text-decoration: none;
    }
    .content .container .card{
        width: 80%;
        height: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid whitesmoke;
        padding: 2vw;
        border-radius: 25px;
        color: whitesmoke;
        transition: .5s;
    }
    .content .container .card .head{
        font-size: 4vw;
        color: inherit;
        height: fit-content;
    }
    .content .container .card img{
        width: 90%;
        height: 50%;
        object-fit: cover;
        object-position: center;
    }
    .content .container .card .details{
        width: 100%;
        font-size: 3vw;
        color: inherit;
        text-align: center;
        height: fit-content;
    }
    .content .container .card:hover{
        color: black;
        background-color: whitesmoke;
        box-shadow: 0px 0px 20px whitesmoke;
    }
}