*{
  margin: 0;
  padding: 0;
}

.BgPhoto{
    background-image: url("..//Photos/stem04.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.testNavbar{
  position: relative;
  text-align: center;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
